# Local datasets
data/task1_data/*
data/task2_data/*

# Keep empty data directories visible
!data/task1_data/.gitkeep
!data/task2_data/.gitkeep

# Generated feature caches
*resnet18_features*.csv
*engineered_image_features*.csv

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Model-generated folders
catboost_info/

# VS Code
.vscode/
*.code-workspace

# macOS
.DS_Store